<div class="row d-flex justify-content-center align-self-center">
  <aside class="col-sm-2 align-self-center">
    <div class="card">
      <article class="card-body align-middle">
        <h4 class="card-title mb-4 mt-1 text-center">Sign in</h4>
        <input class="form-group form-control" [(ngModel)]="username"
               required type="text" id="id_username" name="username"
               placeholder="Username" (keydown.enter)="onSubmit()"/>
        <input type="password" [(ngModel)]="password" class="form-group form-control" (keydown.enter)="onSubmit()"
               required id="id_password" name="password" placeholder="Password"/>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary float-right">Log In</button>
      </article>
    </div>
  </aside>
</div>
<ngx-spinner></ngx-spinner>
