<div class="col-sm-8 d-flex justify-content-between">
  <h3>Data schemas</h3>
  <button class="btn btn-success" routerLink="../new-schema">New schema</button>
</div>
<table class="table col-sm-8 mt-2">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Modified</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngFor="let schema of schemas;trackBy: trackByFn">
  <tr>
    <th scope="row">{{ schema.id }}</th>
    <td><span routerLink="../data-set/{{schema.id}}/" [queryParams]="{'id': schema.id}"
              id="title-link">{{ schema.title }}</span></td>
    <td>{{ schema.updated | date }}</td>
    <td class="d-flex">
      <button class="btn btn-info mr-1" routerLink="../view/{{schema.id}}/edit">Edit</button>
      <button class="btn btn-danger" (click)="deleteSchema(schema.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<ngx-spinner></ngx-spinner>
