<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="user">
  <a class="navbar-brand" routerLink="/board">FakeCSV</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active ml-5">
        <a class="nav-link" routerLink="/board">Schemas<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <span class="user">
              Hello <strong>{{ user.username }}</strong>
              <a class="mr-2 ml-3" (click)="authService.logOut()">Logout</a>
        </span>
    </form>
  </div>
</nav>
