<div class="alert alert-danger" role="alert" *ngIf="error">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 style="text-align: center" class="alert-heading">{{error}}</h4>
</div>

<h2>New schema</h2>
<aside>
  <div>
    <form [formGroup]="schemaForm">
      <div class="col-sm-6">
        <p><input type="submit" [disabled]="schemaForm?.invalid" (click)="saveSchema()"
                  class="btn btn-primary float-right" value="Submit"></p>
        <div class="col-sm-7">
          <label for="name_schema">Name <span style="color: red">*</span></label>
          <input class="form-group form-control" formControlName="name" name="name" required type="text"
                 id="name_schema"/>
          <label for="column_separator">Column separator</label>
          <select class="form-group form-control" formControlName="column_separator" id="column_separator">
            <option value=",">Comma (,)</option>
            <option value=";">Semicolon (;)</option>
          </select>
          <label for="string_character">String character</label>
          <select class="form-group form-control" formControlName="string_character" id="string_character">
            <option value="&quot;">Double-quote (")</option>
            <option value="'">Single-quote (')</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Schema columns</h3>
        <div class="d-flex" formArrayName="selling_points">
          <table id="table-schema-columns">
            <ng-container *ngFor="let item of schemaFields.controls; let index=index" [formGroupName]="index">
              <thead>
              <tr>
                <th scope="col" class="column-name">Column Name <span style="color: red">*</span></th>
                <th scope="col" class="type">Type</th>
                <th scope="col" class="from-to"><span *ngIf="item.get('type').value == 'Integer'">From</span></th>
                <th scope="col" class="from-to"><span *ngIf="item.get('type').value == 'Integer'">To</span></th>
                <th scope="col" class="order">Order <span style="color: red">*</span></th>
                <th scope="col" class="action"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <input class="form-group form-control" formControlName="column_name" required type="text">
                </td>
                <td>
                  <select class="form-group form-control" name="type" id="type" formControlName="type">
                    <option [value]="t" *ngFor="let t of type; trackBy: trackByFn">{{t}}</option>
                  </select>
                </td>
                <td>
                  <input class="form-group form-control" *ngIf="item.get('type').value == 'Integer'"
                         formControlName="from" id="from" type="number">
                </td>
                <td>
                  <input class="form-group form-control" *ngIf="item.get('type').value == 'Integer'"
                         formControlName="to" id="to" type="number">
                </td>
                <td>
                  <input class="form-group form-control" formControlName="order" required
                         name="order" id="column_name3" type="number">
                </td>
                <td>
                  <button class="mb-3 btn btn-primary align-content-center" (click)="deleteSellingPoint(index)">Delete</button>
                </td>
              </tr>
              </tbody>
            </ng-container>
          </table>
        </div>
        <button class="btn btn-primary" (click)="addSellingPoint()">Add</button>
      </div>
    </form>
  </div>
</aside>
<ngx-spinner></ngx-spinner>
