<div class="col-sm-8 d-flex justify-content-between">
  <h3>Data Sets</h3>
  <div class="form-inline">
    <label for="count" class="mr-2">Rows:</label>
    <input [(ngModel)]="count" class="form-control mr-2 count-input" type="number" id="count">
    <button class="btn btn-success" (click)="generateData()">Generate data</button>
  </div>
</div>
<table class="table col-sm-8 mt-2">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Created</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngFor="let data of dataSet; trackBy: trackByFn">
  <tr>
    <th>{{ data.id }}</th>
    <td>{{ data.created | date }}</td>
    <td>
      <span class="badge"
            [ngClass]="{'badge-secondary': data.status === 'PROCESSING',
              'badge-success': data.status === 'READY',
              'badge-danger': data.status === 'ERROR'}">{{ data.status | titlecase }}
      </span>
    </td>
    <td class="d-flex">
      <span id="download" (click)="download(data.id)">Download</span>
    </td>
  </tr>
  </tbody>
</table>
<ngx-spinner></ngx-spinner>
